<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Your Website</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>
<body>
<div id="frame01" class="frame">
<h3> Mo File </h3>
<p>  Cu phap: 	<b>  open($path,$option) </b> 
	$path: duong dan file can mo 
	$option:		
		r 	- Read only
		r+ 	- Read + write
		w 	- Write only
		w+ 	- Write + read *
		a	- Append data
		b 	- Binary mode
	Ex:	$path='input1.PKI';
		$fp=fopen($path,"r"); (true/false)
</p>

</div>
<div id="Download"> YOUR DOWNLOAD 
</div>
<button onclick="toServer()">TO SERVER</button>

<div id="the-return">
  [HTML is replaced when successful.]
</div>

<script type="text/javascript" src="1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</body>
</html>